<%- layout("mentor/layouts/boilerplate") %>

<div>
  <h1>Home page of mentor hence this whole system is run according to mentor</h1>
  <h2>eska apna navBar hoga, footer hoga</h2>
</div>


<!-- <#%- include('../layouts/boilerplate') %> -->
<h1>Mentor Dashboard</h1>
<!-- <p>Welcome, <#%= currUser.username %>!</p> -->
