<%- layout("admin/layouts/boilerplate") %>
<div class="rightBox">
  <h2>Scrollable Content</h2>
  <p>This is a large content area to demonstrate scrolling behavior.</p>
  <h3>Section 1</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.
  </p>
  <h3>Section 2</h3>
  <p>
    Ut enim ad minim veniam,Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Beatae dignissimos nisi dolore reiciendis recusandae iusto modi
    suscipit est. Impedit, aperiam! Alias quia excepturi eligendi nesciunt
    beatae non repudiandae error sint at iusto quos dolorum et laudantium nisi,
    ea explicabo placeat consequuntur consectetur magni expedita eum labore?
    Necessitatibus eius nemo optio natus, recusandae ipsum debitis, esse
    quisquam ullam dolores consequuntur ducimus iste? Laborum deleniti sunt ut,
    debitis quibusdam, maxime non fugiat qui exercitationem impedit molestiae
    corporis expedita. Asperiores similique unde ea, nostrum, voluptas ipsam
    itaque ut id quibusdam, expedita molestias ullam adipisci non nulla vel
    sapiente velit quod dolores. Iure nihil dicta neque maiores. Unde id, fugiat
    aliquam quae repudiandae atque quos aliquid omnis tenetur officiis molestias
    sit ratione magni porro sequi voluptates veniam explicabo dicta! Ratione
    amet vero praesentium esse nihil iste est odio mollitia laboriosam, eveniet
    sunt necessitatibus nobis ex ipsum adipisci laudantium cupiditate maiores
    eligendi maxime sequi? Minima ad alias ea, rem aut corporis dicta error
    accusantium eaque hic praesentium provident, et nobis, quis voluptas!
    Repudiandae modi eos minima doloremque minus temporibus dicta, quo enim
    maiores magni dolore porro perspiciatis earum quibusdam quis aspernatur
    aliquid ipsa consectetur omnis. Quidem saepe itaque modi magnam voluptatem
    necessitatibus sapiente eaque animi. quis nostrud exercitation ullamco
    laboris nisi ut aliquip ex ea commodo consequat.
  </p>
  <h3>Section 3</h3>
  <p>
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
    eu fugiat nulla pariatur.
  </p>
</div>
