<%- layout("admin/layouts/boilerplate") %>

<div>
  <h1>Home page of admin hence this whole system is run according to admin</h1><br><br><br><br>
  <h2>eska apna navBar hoga,<br><br><br><br> footer hoga</h2>
</div>


<!-- <#%- include('../layouts/boilerplate') %> -->

<br><br><br>
<h1>Mentor Dashboard</h1>

<br><br><br>

<%= currUser  %>

<br><br>abv
<br><br>
<br>
<!-- <p>Welcome, <#%= currUser.username %>!</p> -->
